.dashboard-button {
  background: transparent;
  border: 2px solid rgba(255, 255, 255, 0.3);
  padding: 10px 20px;
  margin: 0 10px;
  border-radius: 8px;
  color: white;
  text-decoration: none;
  font-family: 'Montserrat', sans-serif;
  font-weight: 600;
  font-size: 0.9rem;
  transition: all 0.6s ease;
  cursor: pointer;
}

.dashboard-button:hover {
  background: #ebe9ff;
  border-color: #ebe9ff;
  color: black;
  transform: translateY(-4px);
}

.button-content {
  display: flex;
  align-items: center;
  gap: 15px;
}

.button-content svg {
  font-size: 1.2rem;
}

