.particle {
  position: absolute;
  background: rgb(255, 255, 255);
  border-radius: 50%;
  opacity: 0.8;
  animation: float linear infinite;
}

@keyframes float {
  0% {
    transform: translate(0, 0);
  }
  25% {
    transform: translate(20px, -20px);
  }
  50% {
    transform: translate(-10px, -30px);
  }
  75% {
    transform: translate(-20px, -15px);
  }
  100% {
    transform: translate(0, 0);
  }
}

